.Projects {
  padding-top: 5%;
  background-color: #6a8d92;
  height: 100vh;
  color: white;
}

.Title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Title h1 {
  font-size: 45px;
  border-bottom: 1px solid #494947;
}

.MainProjectsContainer {
  border-top: 1px solid #2b303a;
  border-bottom: 1px solid #2b303a;
  margin: 0;
  padding: 1%;
  width: fit-content;
  height: 80%;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}

.Proj {
  background-color: #fffaff;
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 80%;
  color: black;
}
.ProjTitle {
  border: 1px solid yellow;
}

.ProjDesc {
  font-size: 0.5rem;
  border: 1px solid purple;
}

.ProjLinksContainer {
  display: flex;
}

.ProjWebLink button {
  width: 50px;
  font-size: 25px;
  background-color: inherit;
  border: none;
}

.ProjGitLink button {
  width: 50px;
  font-size: 25px;
  background-color: inherit;
  border: none;
}

@media screen and (max-width: 540px) {
  .Projects {
    padding-top: 10%;
  }

  .MainProjectsContainer {
    flex-direction: column;
  }
}
