.About {
  padding-top: 5%;
  background-color: #303030;
  /* background-image: linear-gradient(to bottom right, #35ff69, #44ccff); */
  height: 100vh;
  color: white;
}

.Title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Title h1 {
  font-size: 45px;
  border-bottom: 2px solid white;
}
