@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

.Home {
  margin: 0;
  padding: 0;
  border: 1px solid purple;
  height: 100vh;
  min-width: 100%;
  max-width: 100%;
  max-height: 100vh;
  background-image: linear-gradient(to bottom right, #35ff69, #44ccff);
  padding-top: 10%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.social-icon {
  width: 75px;
  height: 75px;
}

.Middle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.Middle h1 {
  font-size: 65px;
}

.Dynamic h1 {
  font-size: 50px;
}

.ScrollDown button {
  margin-top: 30px;
  background-color: inherit;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 35px;
}

/* @media only screen and (min-width: 768px) {
  .Middle h1 {
    font-size: 55px;
  }
} */
@media only screen and (min-width: 250px) {
  .Middle h1 {
    font-size: 19px;
  }

  .Dynamic h1 {
    font-size: 25px;
  }
}

@media only screen and (min-width: 360px) {
  .Middle h1 {
    font-size: 20px;
  }

  .Dynamic h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  .social-icon {
    width: 50px;
    height: 50px;
  }
}

/* Tablet mode */
@media only screen and (min-width: 768px) {
  .Middle h1 {
    font-size: 40px;
  }
  .Dynamic h1 {
  }
}

.Links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Links ul {
  display: inline-flex;
  margin-top: 55%;
  margin-right: 50%;
}
.Links ul li {
  list-style: none;
  margin: 10%;
}

.Links ul li:hover {
  opacity: 0.8;
  border-radius: 50%;

  border: 2px solid #f05d5e;
}

.Dynamic {
  margin-top: 10%;
  border-bottom: 2px solid red;
}
