.NavBar {
  margin: 0;
  padding: 0;
  /* background-color: #f05d5e; */
  background-color: #494947;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 999;
}

.NavBar nav ul {
  list-style: none;
}

.NavBar nav ul li {
  display: inline-block;
  margin: 20px;
}

.NavBar nav ul li a {
  text-decoration: none;
  outline: none;
  color: #fffaff;
}

.NavBar a:hover {
  font-size: 20px;
  border-bottom: 2px solid #44ccff;
}
